@font-face {
    font-family: 'alex_brushregular';
    src: url('../font/alex-brush/alexbrush-regular-webfont.woff2') format('woff2'),
        url('../font/alex-brush/alexbrush-regular-webfont.woff') format('woff'),
        url('../font/alex-brush/alexbrush-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

body {
    width: 80%;
    margin: auto;
    display: grid;
    background-color: rgb(243, 228, 200);
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV-BAR */ 

.ciseau {
    background-image: url(../image/ciseau-ouvert.svg);
    background-repeat: no-repeat;
    width: 200px;
    background-size: 100%;
    margin-top: 20px;
    transition: 2s;
}

.ciseau:hover {
    background: url("../image/ciseaux-fermer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
    transition: 2s;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr;

}

nav>ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 45px;
    margin-bottom: 45px;

}

nav>ul>li {
    vertical-align: middle;
    grid-row-start: 2;
    font-family: 'alex_brushregular';
    margin-left: 40px;
}

/* FOOTER */

footer>ul {
    display: grid;
    grid-template-columns: repeat(6, 40px);
    list-style: none;
}
.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00acee;
}

.fa-google {
    color: #d62d20;
}
